{% extends 'auth_layout.html' %}

{% block title %}Authentication{% endblock %}

{% block content %}
<div id="login-form">
    <form method="POST" id="login-form-tag">
        {% csrf_token %}
        <input type="hidden" name="action" value="login">
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" for="login-email">Email address</label>
            <input type="email" name="email" id="login-email" class="form-control form-control-lg"
                placeholder="Enter a valid email address" required />
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-1">
            <label class="form-label">Password</label>
            <input type="password" autocomplete="off" name="password" class="form-control form-control-lg"
                placeholder="Enter password" required />
        </div>
        
        <a href="{% url 'forgot_password' %}" class="text-body mb-2 fs-6">Forgot password?</a>

        
    
        <div class="text-center text-lg-start mt-2">
        <button  type="submit" id="login-button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-md fs-5"
            style="padding-left: 2rem; padding-right: 2rem;">Login</button>
        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <button type="button" class="btn btn-link link-danger" id="show-register">Register</button></p>
        </div>

    </form>
    
</div>

<div id="register-form" style="display: none;">
    <form method="POST" id="register-form-tag">
        {% csrf_token %}
        <input type="hidden" name="action" value="register">
        <!-- First name input -->
        <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" >First Name</label>
            <input type="text" name="first_name" class="form-control form-control-lg"
                placeholder="Enter your first name" required />
        </div>
        
        <!-- Last name input -->
        <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" >Last Name</label>
            <input type="text" name="last_name" class="form-control form-control-lg"
                placeholder="Enter your last name" required />
        </div>

        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" >Email address</label>
            <input type="email" name="email" class="form-control form-control-lg"
                placeholder="Enter a valid email address" required />
        </div>

        <!-- Phone Number input -->
        <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" >Whatsapp Number</label>
            <input type="text" name="phone_number" class="form-control form-control-lg"
                placeholder="Enter your phone number" required />
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label">Password</label>
            <input type="password" autocomplete="off" name="password" class="form-control form-control-lg"
                placeholder="Enter password" required />
        </div>
        
        <!-- Comfirm Password input -->
        <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" >Comfirm Password</label>
            <input type="password" autocomplete="off" name="password2" class="form-control form-control-lg"
                placeholder="Comfirm password" required />
        </div>

        <div class="text-center text-lg-start mt-2">
        <button  type="submit" id="register-button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-md fs-5"
            style="padding-left: 2rem; padding-right: 2rem;">Register</button>
        <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <button type="button" class="btn btn-link link-danger" id="show-login">Login</button></p>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    const loginForm = document.getElementById('login-form');
    const registerForm = document.getElementById('register-form');
    const showRegister = document.getElementById('show-register');
    const showLogin = document.getElementById('show-login');

    showRegister.addEventListener('click', () => {
        loginForm.style.display = 'none';
        registerForm.style.display = 'block';
    });

    showLogin.addEventListener('click', () => {
        loginForm.style.display = 'block';
        registerForm.style.display = 'none';
    });

    document.getElementById('login-form-tag').addEventListener('submit', function() {
        const submitButton = document.getElementById('login-button');
        if (submitButton) {
            submitButton.disabled = true;
            submitButton.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...';
        }
    });

    document.getElementById('register-form-tag').addEventListener('submit', function() {
        const submitButton = document.getElementById('register-button');
        if (submitButton) {
            submitButton.disabled = true;
            submitButton.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...';
        }
    });
</script>
{% endblock %}
