{% extends 'layout.html' %}
{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'transactions.css' %}">
{% endblock %}

{% block content %}

  <div class="container-fluid py-4 px-4">
    <div class="row justify-content-center w-full">
      <div class="col-md-8">
        <div class="bg-white rounded-3 p-3 shadow-sm">
          <h2 class="fw-semibold mb-3" style="font-size: 1rem;">Manage User</h2>
          <form method="get" class="mb-3">
            <div class="input-group">
              <input type="text" class="form-control" name="username" placeholder="Enter email" value="{{ request.GET.username }}">
              <button class="btn btn-primary" type="submit">Search</button>
            </div>
          </form>

          {% if not user_to_manage and not request.GET.username %}
          <div class="mt-3">
            <h3 class="fw-semibold mb-2" style="font-size: 0.9rem;">All Users</h3>
            <ul class="list-grou">
              {% for user in all_users %}
                <li class="list-group-ite">
                  <a href="?username={{ user.username }}">{{ user.username }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="d-flex flex-wrap justify-content-center align-items-center mt-3 text-secondary fs-6">
            <nav aria-label="Page navigation">
              <ul class="pagination mb-0">
                {% if all_users.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ all_users.previous_page_number }}" aria-label="Previous">
                      <i class="fas fa-chevron-left"></i>
                    </a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <span class="page-link"><i class="fas fa-chevron-left"></i></span>
                  </li>
                {% endif %}
    
                {% for i in all_users.paginator.page_range %}
                  {% if all_users.number == i %}
                    <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}</span></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
    
                {% if all_users.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ all_users.next_page_number }}" aria-label="Next">
                      <i class="fas fa-chevron-right"></i>
                    </a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <span class="page-link"><i class="fas fa-chevron-right"></i></span>
                  </li>
                {% endif %}
              </ul>
            </nav>
          </div>
          {% endif %}

          {% if user_to_manage %}
            <form method="post" class="mt-4">
              {% csrf_token %}
              <input type="hidden" name="user_id" value="{{ user_to_manage.id }}">
              <div class="mb-3">
                  <div class="row">
                      <div class="col-md-6">
                          <p><strong>Email:</strong> {{ user_to_manage.email }}</p>
                          <p><strong>Whatsapp Number:</strong> {{ user_to_manage.phone_number }}</p>
                          <p><strong>Wallet Balance:</strong>{% if wallet %} {{ wallet.balance }}{% endif %}</p>
                      </div>
                      {% if utils %}
                      <div class="col-md-6">
                          <p><strong>Pending Deposits:</strong> {{ utils.pending_deposits }}</p>
                          <p><strong>Pending Accounts:</strong> {{ utils.pending_accounts }}</p>
                          <p><strong>Active Accounts:</strong> {{ utils.active_accounts }}</p>
                          <p><strong>Deposit Amount:</strong> ${{ utils.total_approved_deposit }}</p>
                      </div>
                      {% endif %}
                  </div>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="is_active" name="is_active" {% if user_to_manage.is_active %}checked{% endif %}>
                <label class="form-check-label" for="is_active">Active</label>
              </div>
              <div class="mb-3">
                <label for="dollar_rate" class="form-label">Dollar Rate</label>
                <input type="number" class="form-control" id="dollar_rate" name="dollar_rate" step="0.01" value="{% if wallet %}{{ wallet.dollar_rate }}{% endif %}">
              </div>
              <div class="d-flex align-items-center mb-3 justify-content-between">
                <a href="{% url 'admin_dashboard:manage_user' %}" class="btn btn-secondary text-decoration-none"><i class="fas fa-arrow-left me-2"></i>Back</a>
                <button type="submit" class="btn btn-primary">Save Changes</button>
              </div>
            </form>
          {% elif request.GET.username %}
            <p>User not found.</p>
          {% endif %}
          {% if user_to_manage %}
          <p>Add Accounts</p>
          <ul>
            {% for ad_account in ad_accounts %}
            <li>
              <a href="{% url 'ad_accounts' %}?search={{ ad_account.name }}">{{ ad_account.name }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}