{% extends 'layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'transactions.css' %}">
{% endblock %}

{% block content %}

  <div class="container-fluid py-4 px-4 table-container-container">
    <h2 class="fw-semibold mb-3" style="font-size: 1rem;">Review Deposit Requests</h2>
    <div class="bg-white rounded-3 p-3 shadow-sm table-container">
      <div class="d-flex flex-wrap align-items-center gap-2 mb-3">
        <a href="{% url 'admin_dashboard:review_deposit' %}"  type="button" role="button" class="btn-filter text-decoration-none active">
          Deposits
        </a>
        <a href="{% url 'admin_dashboard:review_ad_account' %}" type="button" role="button" class="btn-filter text-decoration-none">
          Ad Accounts
        </a>
        <a href="{% url 'admin_dashboard:review_bm_request' %}" type="button" role="button" class="btn-filter text-decoration-none">
          BM Requests
        </a>
        <a href="{% url 'admin_dashboard:review_topup' %}" type="button" role="button" class="btn-filter text-decoration-none">
          Top-ups
        </a>
        <div class="ms-auto">
          <form method="get" action="{% url 'admin_dashboard:review_deposit' %}" class="d-flex align-items-center">
            <input type="text" class="input-search" placeholder="User email" name="search" 
            value="{{ search_query }}" autocomplete="off" />

            <button type="submit" class="btn-create ms-2 d-flex align-items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
                Search
            </button>
          </form>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-middle mb-0" style="border-collapse: separate; border-spacing: 0 0.75rem;">
          <thead>
            <tr>
              <th class="ps-2">Timestamp</th>
              <th>Transaction ID</th>
              <th>User Info</th>
              <th>Method</th>
              <th>TRX ID</th>
              <th>Rate</th>
              <th>BDT Amount <i class="fas fa-sort ms-1 text-secondary"></i></th>
              <th>USD Amount <i class="fas fa-sort ms-1 text-secondary"></i></th>
              <th>Status</th>
              <th class="pe-2">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in transactions %}
            <tr>
              <td class="ps-2" style="font-size: 0.75rem; color: #637381;">{{ transaction.created_at|date:"H:i, d M Y" }}</td>
              <td style="font-size: 0.75rem;">{{ transaction.id }}</td>
              <td style="font-size: 0.75rem;">
                {{ transaction.user.first_name }} {{ transaction.user.last_name }} ({{ transaction.user.username }})
                {{ transaction.user_dollar_rate }}
              </td>
              <td style="font-size: 0.75rem;">{{ transaction.method }}</td>
              <td style="font-size: 0.75rem;">{{ transaction.trx_id }}</td>
              <td style="font-size: 0.75rem;">${{ transaction.user_dollar_rate }}</td>
              <td style="font-size: 0.75rem;">৳{{ transaction.bdt_amount }}</td>
              <td style="font-size: 0.75rem;">${{ transaction.usd_amount }}</td>
              <td><span class="status-{{ transaction.status }}">{{ transaction.status|capfirst }}</span></td>
              <td class="pe-2">
                <a href="{% url 'admin_dashboard:review_deposit_details' transaction.id %}" class="text-decoration-none btn btn-sm btn-primary">View</a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="8" class="text-center">No pending deposit requests found.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="d-flex flex-wrap justify-content-center align-items-center mt-3 text-secondary fs-6">
        <nav aria-label="Page navigation">
          <ul class="pagination mb-0">
            {% if transactions.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ transactions.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Previous">
                  <i class="fas fa-chevron-left"></i>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link"><i class="fas fa-chevron-left"></i></span>
              </li>
            {% endif %}

            {% for i in transactions.paginator.page_range %}
              {% if transactions.number == i %}
                <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}</span></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}{% if search_query %}&search={{ search_query }}{% endif %}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if transactions.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ transactions.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Next">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link"><i class="fas fa-chevron-right"></i></span>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>

{% endblock %}