{% extends 'layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'transactions.css' %}">
{% endblock %}

{% block content %}

  <div class="container-fluid py-4 px-4">
    <h2 class="fw-semibold mb-3" style="font-size: 1rem;">Review BM Account Requests</h2>
    <div class="bg-white rounded-3 p-3 shadow-sm">
      <div class="d-flex flex-wrap align-items-center gap-2 mb-3">
        <a href="{% url 'admin_dashboard:review_deposit' %}"  type="button" role="button" class="btn-filter text-decoration-none">
          Deposits
        </a>
        <a href="{% url 'admin_dashboard:review_ad_account' %}" type="button" role="button" class="btn-filter text-decoration-none">
          Ad Accounts
        </a>
        <a href="{% url 'admin_dashboard:review_bm_request' %}" type="button" role="button" class="btn-filter text-decoration-none active">
          BM Accounts
        </a>
        <a href="{% url 'admin_dashboard:review_topup' %}" type="button" role="button" class="btn-filter text-decoration-none">
          Top-ups
        </a>
      </div>
      <div class="table-responsive">
        <table class="table align-middle mb-0" style="border-collapse: separate; border-spacing: 0 0.75rem;">
          <thead>
            <tr>
              <th>Ad Account</th>
              <th>User Info</th>
              <th>Connected BM</th>
              <th>Status</th>
              <th class="pe-2">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for ad_account in ad_accounts %}
            <tr>
                <td style="font-size: 0.75rem;">
                    {{ ad_account.name }}<br>
                    <span class="text-secondary">id - {{ ad_account.acc_id }}</span><br>
                    <a href="{{ ad_account.acc_link }}" target="_blank" rel="noopener noreferrer" class="text-primary text-decoration-none">{{ ad_account.acc_link }}</a>
                </td>
                <td style="font-size: 0.75rem;">
                    {{ ad_account.user.first_name }} {{ ad_account.user.last_name }}<br>
                    <span class="text-secondary">({{ ad_account.user.username }})</span>
                </td>
                <td style="font-size: 0.75rem;">
                    {% for bm_account in ad_account.bm_accounts.all %}
                        <p class="fw-semibold mb-0">{{ bm_account.acc_name }}</p>
                        <p class="text-secondary mb-1" style="line-height: 1.2;">{{ bm_account.acc_id }}</p>
                    {% empty %}
                        <p class="text-secondary mb-0">No BM accounts</p>
                    {% endfor %}
                </td>
                <td><span class="badge-{{ ad_account.status }}">{{ ad_account.status|capfirst }}</span></td>
                <td class="pe-2">
                    <a href="{% url 'admin_dashboard:ad_account_details' ad_account.id %}" class="text-decoration-none btn btn-sm btn-primary">View</a>
                </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5" class="text-center">No pending ad account requests found.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}