{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Ad Account Details</h2>
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <th colspan="2" class="table-info">Ad Account</th>
                </tr>
                <tr>
                    <th scope="row" class="w-25">Account Name</th>
                    <td>{{ ad_account.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Account ID</th>
                    <td>{{ ad_account.acc_id }}</td>
                </tr>
                <tr>
                    <th scope="row">Account Link</th>
                    <td><a href="{{ ad_account.acc_link }}" target="_blank">{{ ad_account.acc_link }}</a></td>
                </tr>
                <tr>
                    <th colspan="2" class="table-info">Connected BM</th>
                </tr>
                <tr>
                    <th scope="row">Admin BM Name</th>
                    <td>{{ ad_account.mb_admin_reference.bm_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Admin BM ID</th>
                    <td>{{ ad_account.mb_admin_reference.bm_id }}</td>
                </tr>
                <tr>
                    <th scope="row">Client BM Name</th>
                    <td>{{ ad_account.bm_client_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Client BM ID</th>
                    <td>{{ ad_account.bm_client_id }}</td>
                </tr>
                <tr>
                    <th colspan="2" class="table-info">Financials</th>
                </tr>
                <tr>
                    <th scope="row">Monthly Budget</th>
                    <td>${{ ad_account.monthly_budget }}</td>
                </tr>
                <tr>
                    <th scope="row">Balance</th>
                    <td>${{ ad_account.balance }}</td>
                </tr>
                <tr>
                    <th scope="row">Total Spent</th>
                    <td>${{ ad_account.total_spent }}</td>
                </tr>
                <tr>
                    <th scope="row">Limit</th>
                    <td>${{ ad_account.limit }}</td>
                </tr>
                 <tr>
                    <th colspan="2" class="table-info">Status</th>
                </tr>
                <tr>
                    <th scope="row">Status</th>
                    <td class="badge-{{ ad_account.status }}">{{ ad_account.status }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-4 d-flex justify-content-between align-items-center">
        <a href="{% url 'ad_accounts' %}" class="btn btn-primary text-decoration-none"><i class="fas fa-arrow-left me-2"></i>Back</a>
        {% if ad_account.status != 'active' %}
        <form method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" name="action" value="activate" class="btn btn-success">Activate</button>
        </form>
        {% else %}
        <form method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" name="action" value="deactivate" class="btn btn-warning">Deactivate</button>
        </form>
        {% endif %}
        
    </div>
</div>
{% endblock %}
