{% extends 'layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'transactions.css' %}">
{% endblock %}

{% block content %}

  <div class="container-fluid py-4 px-4 table-container-container">
    <h2 class="fw-semibold mb-3 fs-5">Topup History</h2>
    <div class="bg-white rounded-3 p-3 shadow-sm">
      <div class="d-flex flex-wrap align-items-center gap-2 mb-3">

        <a href="{% url 'deposit_transactions' %}" type="button" class="btn-filter text-decoration-none">Deposit</a>
        <a href="{% url 'topup_transactions' %}" type="button" class="btn-filter text-decoration-none active">Top Up</a>
        <a type="button" class="btn-filter text-decoration-none">Withdrawals</a>

        <div class="ms-auto">
          <form method="get" action="{% url 'topup_transactions' %}" class="d-flex align-items-center">
            <input type="text" class="input-search" placeholder="Ad Account Name" name="ad_acc_name" 
            value="{% if ad_acc_name %} {{ ad_acc_name }} {% endif %}" autocomplete="off" />

            <button type="submit" class="btn-create ms-2 d-flex align-items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
                Search
            </button>
          </form>
        </div>

      </div>
      <div class="table-responsive">
        <table class="table align-middle mb-0">
          <thead>
            <tr>
              <th class="ps-2">Date</th>
              <th>Ad Account</th>
              <th>Amount</th>
              <th>Type</th>
              <th>Status</th>
              {% if request.user.is_staff %}
              <th>User</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for topup in topups %}
            <tr>
              <td class="text-secondary">{{ topup.date|date:"H:i, d M Y" }}</td>
              <td class="fs-6" >
                {% if request.user.is_staff %}
                    <a href="{% url 'ad_accounts' %}?search={{ topup.ad_account.name }}">
                        {{ topup.ad_account.name }}
                    </a>
                {% else %}
                    {{ topup.ad_account.name }}
                {% endif %}
               </td>
              <td class="fs-6">${{ topup.amount }}</td>
              <td class="fs-6">{{ topup.get_type_display }}</td>
              <td><span class="status-{{ topup.status }}">{{ topup.get_status_display }}</span></td>
              {% if request.user.is_staff %}
              <td class="fs-6">{{ topup.ad_account.user.username }}</td>
              {% endif %}
              <td class="pe-2"></td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="7" class="text-center">No top-ups found.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="d-flex flex-wrap justify-content-center align-items-center mt-3 text-secondary fs-6">
        <nav aria-label="Page navigation">
          <ul class="pagination mb-0">
            {% if topups.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ topups.previous_page_number }}{% if ad_acc_name %}&ad_acc_name={{ ad_acc_name }}{% endif %}" aria-label="Previous">
                  <i class="fas fa-chevron-left"></i>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link"><i class="fas fa-chevron-left"></i></span>
              </li>
            {% endif %}

            {% for i in topups.paginator.page_range %}
              {% if topups.number == i %}
                <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}</span></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}{% if ad_acc_name %}&ad_acc_name={{ ad_acc_name }}{% endif %}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if topups.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ topups.next_page_number }}{% if ad_acc_name %}&ad_acc_name={{ ad_acc_name }}{% endif %}" aria-label="Next">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link"><i class="fas fa-chevron-right"></i></span>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>

{% endblock %}